@{
    ViewBag.Title = "Sobre nós";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Nos dias que correm, as pessoas utilizam uma grande variedade de serviços que estão disponíveis de forma rápida nos seus dispositivos mais próximos, como smartphones ou computadores pessoais. Vivemos num mundo totalmente conectado, em que existe uma grande facilidade em, por exemplo, fazer compras sem sair de casa ou consultar o saldo bancário sem sair do escritório.
</p>
<p>
    Apesar de todo este comodismo, o mundo atual é mais do que nunca frenético e atribulado, tendo passado a haver uma interligação perigosa entre a vida pessoal e profissional – anteriormente desconectadas –, o que faz com que os trabalhadores dos dias de hoje estejam muitas mais horas ligados ao trabalho do que as estipuladas no seu contrato. Passou, por isso, a haver um maior lugar para os imprevistos e para a supressão da vida familiar em favor do trabalho.
</p>
<p>
    Um destes casos, é a vida dos pais que se encontra ainda mais preenchida, o que faz com que, por vezes, não possam cuidar permanentemente dos seus filhos. Assim sendo, surge a necessidade de contratar serviços especializados que possam colmatar esta falha, permitindo aos pais uma vida um pouco mais cómoda e organizada.
</p>
<h3>Neste contexto, a <strong>Kiddo</strong> pretende afirmar-se como uma solução e uma ajuda na vida destes mesmos pais, oferecendo um serviço simples e ao dispor de qualquer pessoa.</h3>
