@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida do Biberão 756<br />
    4712-345
    Braga, Portugal<br />
    253 123 456
</address>

<address>
    <strong>Suporte técnico:</strong>   <a href="mailto:support@kiddo.com">support@kiddo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@kiddo.com">marketing@kiddo.com</a>
</address>