@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/Home.css");
}

<div class="jumbotron">
    <img class="logo" src="https://i.imgur.com/e3e0R8R.png" alt="Kiddo Logo" />
    <h2>Deixe os seus filhos em segurança</h2>
    <p class="lead">A <strong>Kiddo</strong> é um serviço inovador e seguro que possibilita aos pais deixarem os seus filhos ao cuidado de profissionais especializados e certificados.</p>
    <button onclick="location.href='@Url.Action("About", "Home")';return false;" class="btn btn-primary btn-lg">Saiba mais &raquo</button>
</div>